@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<!--Ao usarmos o IncrementAmount desta forma, estamos a passar o valor que queremos que seja utilizado neste local, ou seja, para este componente, neste local em específico, o incremento vai ser de 10 em 10-->
<Counter IncrementAmount="10" />